<template>
  <div class="inputItem">
    <input type="text" v-model="text"/>
    <button @click="save()">Save</button>
  </div>
</template>

<script>
export default {
  name: 'InputItem',
  data () {
    return {
      text: null
    }
  },
  methods: {
    save () {
      this.$emit('save', this.text)
    }
  }
}
</script>

<style lang="scss">
  .inputItem {}
</style>
