<template>
  <div class="main">
    <Alert><h1 slot="header">Alert Here</h1><h2 slot="text">Hello Dev.</h2></Alert>
    <todoList :todoItems="todos"></todoList>
    <div :style="{color: color}">{{ title + ' Skooldio' }} {{ number + 3 }}</div>
    <ul>
      <li v-for="todo in sortItem" :key="todo.time" :class="{red: !todo.completed, green: todo.completed}">
        {{todo.text | capitalize}}
      </li>
    </ul>
    <InputItem @save="addTodoItem"></InputItem>
  </div>
</template>

<script>

import todoList from './todoList'
import InputItem from './InputItem'
import Alert from './Alert'

export default {
  name: 'Page',
  components: {
    todoList,
    InputItem,
    Alert
  },
  watch: {
    text (newVal, oldVal) {
      console.log(newVal, oldVal)
    }
  },
  beforeCreate () {
    console.log('Before Create')
  },
  // นิยมใช้ mounted มากกว่า beforeCreate เพราะ Performance ดีกว่า
  mounted () {
    console.log('mounted!!')
  },
  updated () {
    console.log('updated!!')
  },
  destroyed () {
    console.log('destroyed!!')
  },
  computed: {
    // พยายามนำ logic มาใช้ที่ computed
    sortItem () {
      // eslint-disable-next-line vue/no-side-effects-in-computed-properties
      return this.todos.sort((a, b) => {
        return b.time - a.time
      })
    }
  },
  methods: {
    addTodoItem (text) {
      this.todos.push({
        text: text,
        time: Date.now(),
        completed: true
      })
    }
  },
  filters: {
    capitalize (val) {
      return val.toUpperCase()
    }
  },
  data () {
    return {
      color: 'blue',
      title: 'Hello World',
      text: '',
      number: 0,
      todos: [
        {
          text: 'Todo1',
          time: 1540352507,
          completed: true
        },
        {
          text: 'Todo2',
          time: 1540352508,
          completed: false
        }
      ]
    }
  }
}
</script>
<!-- scoped ระวังเรื่องของ Performance -->
<style scoped lang="scss">
  .red {
    color: red;
  }
  .green {
    color: green;
  }
</style>
