<template>
  <div class="todoList"></div>
</template>

<script>
export default {
  name: 'todoList',
  props: {
    todoItems: {
      type: Array
      // default: function () {
      //   return [{
      //     text: null,
      //     time: null,
      //     completed: false
      //   }]
      // }
      // validator (params) {
      //   return params
      // }
    }
  },
  mounted () {
    console.log(this.todoItems)
  }
}
</script>

<style scoped lang="scss">
  .todoList {}
</style>
