<template>
  <div id="main">
    <Main/>
  </div>
</template>

<script>
import Main from './components/Page.vue'

export default {
  name: 'app',
  components: {
    Main
  }
}
</script>

<style>
  #main {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }
</style>
